@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    /*COLOR*/
    --darkgray: #61696f;
    --primary : #EE5A24;
    /*--primary-fade : #f76d3a;*/
    --primary-bg : #fbebe5;
    --primary-fade : #f97b4d;
    --gray : #909090;
    --lightgray : #dee2e6;
    --lightgray-fade : #eaeaea;

    /*FONT SIZE*/
    --font-size-m1: 0.9rem;
    --font-size-p1: 1.1rem;
    --font-size-p2: 1.2rem;
    --font-size-p3: 1.3rem;
    --font-size-p4: 1.4rem;
}
body{
    color: var(--dark);
    font-family: 'Kanit', sans-serif;
    font-size: var(--font-size-base);
    font-weight: 200;
}
a.text-highlight, h1.text-highlight, h2.text-highlight, h3.text-highlight, h4.text-highlight, h5.text-highlight, h6.text-highlight, 
p.text-highlight{
    color: var(--primary);
}
a.link {
    text-decoration: underline;
}
a.link :hover{
    text-decoration: underline;
}
a.text-highlight:hover{
    color: var(--primary-fade);
}
h1{ font-size: var(--font-size-p4);}
h2{ font-size: var(--font-size-p3);}
h3{ font-size: var(--font-size-p2);}
h4{ font-size: var(--font-size-p1);}

h1.page-title{
    /*color: var(--darkgray);*/
    font-weight: 400;
    margin-bottom: 40px;
}

input[type=checkbox] {
    box-sizing: border-box;
    margin-right: 6px;
    height: 16px;
    width: 16px;
}

.checkbox input[type=checkbox]:checked + label::before{
    background-color: var(--primary);
}

#aside-menu {
    float: left;
    left: 0;
    padding: 20px 0px 0 0px;
    position: absolute;
    top: 62px;
    transition: none !important;
    width: 260px;
}
#aside-menu.center{
    padding: 20px 20px 0 20px;
}
#aside-menu .center{
    padding: 20px 20px 0 20px;
}

#aside-menu.p-t{
    padding-top: 50px;
}
#aside-menu .nav-second-level li{
    /*border-top:  var(--darkgray) 1px solid;*/
    /*background-color: var(--lightgray);*/
    border: none;
}
/*#aside-menu .nav-second-level li{
    padding: 10px 10px 10px 30px;
}*/
#header{
    height: 62px;
}
#logo{
    padding: 10px 8px 8px 20px;
    height: 62px;
}
#logo img{
    height: 36px;
}
#logo.light-version {
	background: white;
}
#searchMenu {
   /* font-family: 'Kanit', 'Font Awesome 5 Free';
    font-weight: 900;*/
}
#wrapper{
	background: white;
    margin-left: 260px;
    padding: 40px 40px;
    position: relative !important;
	transition: none !important;
	min-height: 704px;
}

.btn{
    border-radius: 6px;
}
.btn-default{
    background-color:var(--lightgray);
    border-color: var(--lightgray);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color:var(--lightgray-fade);
    border-color: var(--lightgray-fade);
}
.btn-primary{
    background-color:var(--primary);
    border-color: var(--primary);
    color: white !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color:var(--primary-fade);
    border-color: var(--primary-fade);
}


.in-group-select{
    width: 100% !important;
}
.border{
    border-color: var(--primary-fade);
    border-radius: 6px; 
    padding: 16px;
    margin: 8px 12px; 
}
.btn-select-picker{
    background-color:var(--primary);
    border-color: var(--primary);
    color: white;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 10px;
}
.btn-select-picker:hover{
    background-color:var(--primary-fade);
    border-color: var(--primary-fade);
    color: white;
}
.bs-placeholder.btn-select-picker{
    background-color: white;
    border-color: #e0e0e0;  
    height: 34px;
    padding: 6px 12px;
}
.btn-select-picker.bs-placeholder{
    color: #484a4c !important;
    font-weight: 300;
    font-family: 'Kanit', 'FontAwesome';
}
.checkbox-inline {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    width: 130px;
}
.dropdown-menu {
    margin: 0;
    font-size: var(--font-size-m1);
    /*padding: 0.8rem 0;*/
}
.dropdown-item{
    padding: 0.6rem 0.2rem 0.6rem 2.2rem;
    font-weight: 300;
}
/*.fa{
    font-family: 'FontAwesome', sans-serif;
}*/
.form-control {
    font-weight: 200;
}
.form-horizontal .control-label{
    text-align: right;
}
.hr-line-dashed {
    border-top: 1px dotted #d8d8d8;
}
.kid-panel .kid-name{
    color: var(--primary);
    font-size: var( --font-size-p2);
    font-weight: 400; 
}
.kid-panel .panel-label{
    font-weight: 400;

}
.kid-panel .panel-text{
    margin-bottom: 10px;

}
.kid-panel .light-icon{
    color: var(--lightgray);
}
.kid-panel .title{
    color: var(--darkgray);
    font-weight: 500; 
    margin-bottom: 5px;
}
.kid-panel .text-extra{
    font-size: var(--font-size-p4);
    font-weight: 400;
    margin-top: -8px;
}
.kid-panel .update{
    color: var(--gray);
    font-weight: 200;
    font-size: var( --font-size-m1);
    margin-bottom: 15px;
}
.login-panel{
    min-height: 100vh;
}
.login-panel.left{
    background-image: url("/images/login-bg.png");
}
.login-panel.left img{
    display: block;
    position: absolute;
    height: 70vh;
    margin-top: 20vh;
    left: 5%;
}

.login-panel.right{
    padding: 140px 200px 100px 100px;
}
.login-panel.right form{
    margin-bottom: 50px;
}
.login-image{
    
}
.login-title{
    background-color: var(--primary);
    color: white;
    font-size: var(--font-size-p2);
    font-weight: 400;
    position: absolute;
    padding: 15px 35px;
    top: 47%;
    left: 50%;
}
.login-desc{
    background-color:  var(--lightgray-fade);
    position: absolute;
    padding: 14px;
    top: 54%;
    left: 57%;
}
.nav {
    display: block;
}
.nav > li {
    position: relative;
    display: block;
}

.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
    height: 62px;
}
.navbar-nav>li:last-child>a {
    margin-right: 60px;
    padding-right: 0px;
}
.navbar-nav>li>a {
    font-size: var(--font-size-base);
    font-weight: 300;
    padding: 18px 15px;
}
.nav.navbar-nav li a{
    color: var(--darkgray);
    height: 62px;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav .open>a, .navbar-nav .open>a:hover, .navbar-nav .open>a:focus {
    color: var(--primary);
    background: none;
    /*border-bottom: 4px solid var(--primary-fade);*/
}
.navbar-nav>li>a.active{
    color: var(--primary);
    border-bottom: 4px solid var(--primary);
}

.navbar-nav .nav-link{
	/*margin-left: 15px;*/
	margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;

}
.navbar-right {
    float: right !important;
}
/*.nav-tab.main-level{
    margin-top: 34px;
}*/
.nav-tab .class-name{
    font-weight: 400;
}

.nav-tab .kid-count-span{
    color: var(--gray);
    font-size: var(--font-size-m1);
    font-weight: 200;
}

.nav-tab>li{
    border-top: 1px solid #eaeaea;
    /*height: 46px;*/
    /*border-bottom: 1px solid #eaeaea;*/
}
.nav-tab>li>a{
    display: block;
    height: 48px;
    padding: 12px 20px;
}
.nav-tab>li>a:hover{
    background-color: var(--lightgray-fade);
  /*  color: var(--primary);*/
}
.nav-tab>li>a.active{
    border: none;
    background-color: var(--primary-bg);
    color: var(--primary);
    font-weight: 400;
}

.nav-tab>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    border: none;
}
.menu-block{
    padding: 20px; 
}
.meal-panel{
    background: white;
    border: 1px solid var(--lightgray);  
    padding: 12px;
    margin: 10px 0px; 
}
.meal-panel.monday{border-left: 5px solid #f9dc06;}
.meal-panel.tuesday{border-left: 5px solid #ff6663;}
.meal-panel.wednesday{border-left: 5px solid #7ac943;}
.meal-panel.thursday{border-left: 5px solid #f7931e;}
.meal-panel.friday{border-left: 5px solid #3fa6f2;}
.meal-panel .col{
    float: left !important;
    flex-basis: unset;
}
.meal-panel .col-day{width: 7%;}
.meal-panel .col-meal{
    width: 21%;
    padding-right: 12px;
}
.meal-panel .col-nutrition{width: 30%;}
.meal-panel .mlabel{
    color: var(--darkgray);
    font-size: 16px;
    margin-bottom: 8px;
}
.meal-panel .mdate{
    color: color: var(--darkgray);;
    font-size: 32px; 
    margin-top: -10px;
}
.meal-panel .nut-labels{
    margin-bottom: -2px;
}
.meal-panel .nut-tabs{
    margin-bottom: 10px;
}
.meal-panel .nut-tab{
    background: #d8d8d8;
    border-radius: 8px;
    color: white !important;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 19.5%;
    margin-left: -1%;
}
.nut-tab.danger.selected{background: #c0392b;}
.nut-tab.warning.selected{background: #f7931e;}
.nut-tab.ok.selected{background: #7ac943;}

.pull-right{
    float: right !important;
}
.pull-left{
    float: left !important;
}
.restriction-group{
    border: 1px solid var(--lightgray);
    border-radius: 12px;
    padding: 14px;
    margin: 6px 0px 6px 12px;
    width: 46%;
}
.restriction-group.add-restriction{
    border-style: dotted;
    border-width: 2px;
    padding: 0;
}
.restriction-group .add-form{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: 78px;
}
.select-tag{
    width: 100%;
}
.school-i{
    color: var(--lightgray);
    font-size: 90px;
    padding-left: 40px;
  
    /*margin-left: 10px;*/
}
.table thead th {
    font-weight: 500;
}
.ui-sortable .menu-body{
    background-color: white; 
    border: 1px solid #e0e0e0;  
    border-radius: 8px;
    cursor: move;
    padding: 4px 12px;
    margin-bottom: 4px;
}

.ui-sortable-placeholder {
    border: 1px dashed var(--darkgray) !important;
}
.ui-datepicker .ui-datepicker-header{
    padding: 0 !important;
    border:none;
    background: transparent;
}
.ui-datepicker th {
    padding: 0 !important;
    font-weight: 200;
}

#week-picker .ui-state-default{
    border: none;
    background-color: transparent; 
}
#week-picker .ui-state-hover{
    background-color: var(--lightgray-fade);
    border: none; 
}
#week-picker .ui-state-active{
    background-color: var(--primary-fade);
}
#week-picker .ui-datepicker{
    width: 100%;
}
#week-picker .ui-widget-content {
    border: none;
} 
